h1, p {
  text-align: center;
}

#todo {
  margin: auto;


  button {
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: none;
    padding: 15px;
    cursor: pointer;
    background-color: #1779ba;
    color: white;
  }

  .card {
    display: block;
    border: solid;
    margin: 20px;
  }
}
