h1, p {
  text-align: center;
}

div.dog {
  margin: auto;

  &.loader {
    text-align: center;
    color: #b2b2b2;
    line-height: 200px;
    min-width: 300px;
    min-height: 200px;
    padding: 15px;
    margin: auto;
  }

  img {
    display: block;
    margin: auto;
  }

  button {
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: none;
    padding: 15px;
    cursor: pointer;
    background-color: #1779ba;
    color: white;
  }
}
